<%- include('partials/header'); -%>

<!-- HTML Pseudocode -->

<!-- <h1>Welcome to Tailwind Trivia, a project that uses the Open Trivia API!</h1> -->

<form action='/questions' method='post' id='form'>

    <input type="text" placeholder="Number of questions" name="numberOfQuestions">
    <input type="text" placeholder="Category" name="category">
    <input type="text" placeholder="Difficulty" name="difficulty">
    <input type="text" placeholder="Type" name="type">
    <button type="submit">Submit</button>

</form>

<%- include('partials/footer'); -%>