<%- include('partials/header'); -%>

<!-- HTML Pseudocode -->

<h1 class="font-sans text-center py-8 text-green-700 text-2xl">Welcome to Tailwind Trivia, a project that uses the Open Trivia API!</h1>

<h3 class=""> <%= deleteSuccessful %> </h3>

<form class="bg-green-100" action='/questions' method='post' id='form'>

    <input class="block m-6" type="text" placeholder="Number of questions" name="numberOfQuestions">
    <input class="block m-6" type="text" placeholder="Category" name="category">
    <input class="block m-6" type="text" placeholder="Difficulty" name="difficulty">
    <input class="block m-6" type="text" placeholder="Type" name="type">
    <button class="block m-6" type="submit">Submit</button>

</form>

<%- include('partials/footer'); -%>