<%- include('partials/header'); -%>

<form action='/' method='post' id='form'>

    <input type="text" placeholder="Number of questions" name="numberOfQuestions">
    <input type="text" placeholder="Category" name="category">
    <input type="text" placeholder="Difficulty" name="difficulty">
    <input type="text" placeholder="Type" name="type">
    <button type="submit">Submit</button>

</form>

<%- include('partials/footer'); -%>
  