@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Lobster+Two:ital@1&family=Comfortaa&family=Quicksand:wght@300&family=Cookie&family=Libre+Baskerville&family=Montserrat:ital,wght@1,300&family=Raleway:wght@500&family=Roboto+Condensed&display=swap');


/* Small (sm) */
@media (min-width: 640px) { /* ... */ }

/* Medium (md) */
@media (min-width: 768px) { /* ... */ }

/* Large (lg) */
@media (min-width: 1024px) { /* ... */ }

/* Extra Large (xl) */
@media (min-width: 1280px) { /* ... */ }


/* #56 Anton - 100 */
/* Comfortaa, Quicksand, Raleway */



/* Colorful and Balanced color palette = https://visme.co/blog/website-color-schemes/ */

:root {
    --cool-red: #E27D60;
    --cool-blue: #85BDCB;
    --tan-brown: #E8A87C;
    --cool-indigo: #C38D9E;
    --sea-blue: #41B3A3;
  }

main {
    /* background-color: var(--cool-blue); */
}


/* .logo {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 3px;
} */

/* Quiz Pro Quo possible fonts: Lobster, Dancing Script, PT Sans, EB Garamond, Henry Penny, Lobster Two, */

.merienda {
    font-family: 'Merienda', cursive;
}

.lobster-2 {
    font-family: 'Lobster Two', cursive;
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.cookie {
    font-family: 'Cookie', cursive;
}

input, select {
    max-width: 70px;
}


.trivia-appear {
    animation-delay: 6s;
    animation: appear 1s linear forwards;
}

.info-disappear {
    animation: disappear 10s linear forwards;
}

@keyframes disappear {

    0% {
        opacity: 1;
        display: block;
        height: 100%;
    }

    50% {
        opacity: 0.8;
        display: block;
        height: 50%;
    }

    100% {
        opacity: 0;
        display: none;
        height: 0;
    }

}

@keyframes appear {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.button-expand {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.button-expand:hover {
    width: 50%;
    color: blue;
    font-weight: 500;
    border-color: blue;
    border-width: 3px;
}

.center-form {
    position: relative;
    transform: translateX(-50%);
    right: 50%;
}

.test-second-spreadsheet {
    font-size: 200px;
}

.anchor-1, .anchor-2 {
    min-height: 10px;
}

.anchor-1 {
    min-width: 100px;
}

.anchor-2 {
    min-width: 105px;
}   



.logo-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



.logo-image {
    width: 60%;
}

/* Small (sm) */
@media (min-width: 640px) { 
    
    .logo-image {
        width: 60%;
    }

}

/* Medium (md) */
@media (min-width: 768px) { 
    .logo-image {
        width: 50%;
    }

    .submit-button {
        left: 50%;
    }

}

/* Large (lg) */
@media (min-width: 1024px) { 
    .logo-image {
        width: 35%;
    }

    
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    .logo-image {
        width: 35%;
    }

    
 }
