@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Lobster+Two:ital@1&family=Comfortaa&family=Quicksand:wght@300&family=Cookie&family=Libre+Baskerville&family=Montserrat:ital,wght@1,300&family=Raleway:wght@500&family=Roboto+Condensed&display=swap');


/* Quiz Pro Quo possible fonts: Lobster, Dancing Script, PT Sans, EB Garamond, Henry Penny, Lobster Two, */

.merienda {
    font-family: 'Merienda', cursive;
}

.lobster-2 {
    font-family: 'Lobster Two', cursive;
}

.libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}


/* Same width for input and select buttons. */
input, select {
    max-width: 70px;
}



/* Animations for questions.ejs*/

.trivia-appear {
    animation: appear 1s linear forwards;
}

.results-button {
    min-width: 140px;
}

.button-emphasize {
    animation: emphasize 4s linear 1;
}

.info-disappear {
    animation: disappear 10s linear forwards;
}

.type-category {
    /* https://css-tricks.com/snippets/css/typewriter-effect/ */
    overflow: hidden;
    white-space: nowrap;
    width: 0%;
    text-align: center;
    animation: type 6s linear forwards;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes disappear {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }

}

@keyframes appear {

    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }

}

@keyframes emphasize {

    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }

}

@keyframes type {

    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }

}


/* Button Styling */
.button-expand {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.question-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.button-expand:hover, .question-button:hover {
        width: 70%;
        color: blue;
        font-weight: 500;
        border-color: blue;
        border-width: 3px;
}


/* Button Below Medium Screen */
@media (min-width: 640px) { 
    .button-expand:hover, .question-button:hover {
        width: 50%;
        color: blue;
        font-weight: 500;
        border-color: blue;
        border-width: 3px;
    }
}

@media (min-width: 768px) { 
    .button-expand:hover, .question-button:hover {
        width: 30%;
        color: blue;
        font-weight: 500;
        border-color: blue;
        border-width: 3px;
    }
}


.center-form {
    position: relative;
    transform: translateX(-50%);
    right: 50%;
}


/* Question Navbar Styling */
.question-navbar {
    top: 112px;
}

/* .results-navbar {
    top: 96px;
} */

.test-second-spreadsheet {
    font-size: 200px;
}


/* Anchor Tag Styling for future Anchor Tag Update */
.anchor-1, .anchor-2 {
    min-height: 10px;
}

.anchor-1 {
    min-width: 100px;
}

.anchor-2 {
    min-width: 105px;
}   


/* Logo Image Styling based on Media Screen Width */
.logo-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.logo-image {
    width: 60%;
}

/* Small (sm) */
@media (min-width: 640px) { 
    
    .logo-image {
        width: 60%;
    }
}

/* Medium (md) */
@media (min-width: 768px) { 
    .logo-image {
        width: 50%;
    }

    .submit-button {
        left: 50%;
    }
}

/* Large (lg) */
@media (min-width: 1024px) { 
    .logo-image {
        width: 35%;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    .logo-image {
        width: 35%;
    }    
 }


 .score {
     position: relative;
     left: 50%;
     transform: translateX(-50%);
 }


 /* Sass Order code if you do get styles.scss to work well with Tailwind. */

 /* @for $i from 1 through 50 {
    order-#{$i} {
        order: $i;
    }
 } */

/* Order classes in CSS so that results.ejs displays the questions in the right order. */

 .order-13 {
     order: 13;
 }

 .order-14 {
    order: 14;
}


.order-15 {
    order: 15;
}


.order-16 {
    order: 16;
}


.order-17 {
    order: 17;
}


.order-18 {
    order: 18;
}


.order-19 {
    order: 19;
}


.order-20 {
    order: 20;
}


.order-21 {
    order: 21;
}


.order-22 {
    order: 22;
}

.order-23 {
    order: 23;
}

.order-24 {
    order: 24;
}

.order-25 {
    order: 25;
}