@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Libre+Baskerville&family=Montserrat:ital,wght@1,300&family=Raleway:wght@500&family=Roboto+Condensed&display=swap');

.libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.cookie {
    font-family: 'Cookie', cursive;
}

input, select {
    max-width: 70px;
}

input:required {
    border-color: red;
}

.test-second-spreadsheet {
    font-size: 200px;
}


